*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.menu{
	width: 70px;
	height: 100%;
	position: fixed;
	background-color: #1d5268;
	z-index: 9999;
}
.menu-home{
	width: 100%;
}
.menu-home img{
	width: 100%;
}
.menu-list{
	margin-top: 100px;
}
.menu-list a{
	color: white;
	width: 100%;
	height: 100%;
}
.menu-list li{
	padding: 10px 0;
}
.menu-list li:hover{
	background-color: #133644;
}
.menu-list a:hover{
	text-decoration: none;
	color: #10b591;
}
.menu-list i{
	font-size: 24px;
	text-align: center;
}
.menu-list span{
	display: block;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
	color: white;
}
.menu-footer{
	margin-top: 70px;
	height: 100%;
	background-color: #1a4a5e;
	padding-top: 10px;
}
.menu-footer img{
	width: 100%;
}
.menu-footer a{
	color: white;
}
.menu-footer a:hover{
	color: #10b591;
}
.info{
	padding: 0 5px;
}
.info a:first-child{
	margin-right: 30px;
}