.mess{
	color: red;
}
.mess2{
	color: red;
}
#span-mail{
	color: white;
	margin-left: 5px;
}
#span-phone{
	color: white;
	margin-left: 5px;
}
#span-account{
	color: white;
	margin-left: 5px;
}
#span-cart{
	color: white;
	margin-left: 5px;
}
#span-logout{
	color: white;
	margin-left: 5px;
}
#bell{
	margin-right: 5px;
}

.menu a{
	color: black;
}
.menu a:hover{
	background-color: #d9edf7!important;
}
#footer p{
	font-size: 13px;
}
#footer li{
	list-style: none;
}
#footer a{
	color: black;
	font-size: 13px;
}
#footer a:hover{
	color: red!important;
	text-decoration: none;
}
.product a{
	color: black;
	font-size: 13px;
}
.product a:hover{
	text-decoration: none;
	color: #75b7b3;
}
a{
	color: black;
}
a:hover{
	text-decoration: none;
	color: #337ab7;
}
