a{
	color: black;
}
a:hover{
	text-decoration: none;
	color: red;
}
.login{
	padding: 10px;
	margin-top: 15%;
}
.login h2{
	color: #5d8d9b;
	margin: 0 0 20px 0;
}
.login span{
	color: #db7523;
}
.mess{
	margin-top: 70px;
	text-align: center;
	color: red;
}
.header{
	background-color: #8ebcce!important;
}
.header a{
	color: white!important;
}
.header a:hover{
	background-color: #8ebcce!important;
	color: black!important;
	text-transform: uppercase!important;
}
.menu a{
	color: black!important;
}
.footer{
	border-top: 5px solid #8ebcce;
}
.footer li{
	list-style-type: none;
}
.footer li a{
	color: black!important;
}
.footer li a:hover{
	text-decoration: none!important;
	color: red!important;
}
.footer2{
	background-color:#8ebcce;
	color: white;
	padding:30px 0;
	margin-top: 50px;
}

